
.fair-banner{
    background-color: #fff;
    .fair-details{
        height: 250px;
        position: relative;
        overflow: hidden;

        img{
           height: 100%;
           width: 100%;
           object-fit:cover; 
        }

        &::before{
           content: '';
           height: 100%;
           width: 100%;
           position: absolute;
           top: 0;
           left: 0;
           background-image: linear-gradient(180deg,#000 0%,transparent 100%); 
        }
        .event-info{
           position: absolute;
           top: 20%;
           left: 10px;
           color: #fff; 
        }
    }
}